<!DOCTYPE html>
<html>
  <head>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js'></script>
    <script src='app.js'></script>
  </head>

  <body ng-app='myApp'>
    <div class='main'>
      <h2>Name that lyric!</h2>
      <img src='Cover.jpg' height='25%' width='25%'>
      <p>P.Y.T. (Pretty Young Thing) - Thriller</p>
    </div>

    <div class='choice'>
      <strong>What did MJ say??</strong>
      <div ng-controller='buttonCtrl'>
        <div>
          <input type='radio' name='Q1' value='Lyric1'>We can take it right in the city night
          <input type='radio' name='Q1' value='Lyric2'>We can make it right, hit the city lights
        </div>
        <button type='submit' value='Submit' ng-click='choose()' ng-disabled='isDisabled' ng-model='isDisabled'>Submit</button>
        <div>
          <h2>{{ display }}</h2>
        </div>
      </div>
    </div>

  </body>
</html>